.login-form{
    display:block;
    gap:30px;
    justify-content: center;
    background-color: bisque;
    text-align: center;
    border: 3px solid black;
    border-radius: 3rem;
    height: 400px;
    padding-top: 75px;
    margin:  auto ;
    margin-top: 100px;
    width: 300px;
}
input{
    padding:10px;
    margin-bottom:30px;
    margin: 5px;
}