
#mani{
    position: relative;
    float: right;
    animation-name: mani;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



@keyframes mani{
    0%{
        top: 0px;
        left: 0px;
    }
    12.5%{
        top: 0px;
        left: -100px;
    }
    25%{
        top: 50px;
        left: -100px;
    }
    37.5%{
        top: 100px;
        left: -200px;
    }
    50%{
        top: 200px;
        left: -300px;
    }
    62.5%{
        top: 200px;
        left: -100px;
    }
    75%{
        top: 100px;
        left: -50px;
    }
    87.5%{
        top: 100px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}
